.product-container {
    text-align: center; /* Centrer le contenu */
}

.square-image {
    width: 150px; /* Ajustez la taille carrée selon vos besoins */
    height: 150px; /* Ajustez la taille carrée selon vos besoins */
    object-fit: cover;
    display: block; /* Assurez-vous que l'image soit un élément de bloc */
    margin: 0 auto; /* Centrer l'image */
}

.product-name {
    margin-top: 10px; /* Espace entre l'image et le nom du produit */
    font-weight: bold;
}

.product-price {
    color: gray;
}
/* Styles pour chaque élément de produit */
.grid-item {
  display: inline-block; /* Afficher les produits en ligne */
  margin-right: 10px; /* Espacement horizontal entre les produits */
  margin-bottom: 10px; /* Espacement vertical entre les produits */
  /* Ajoutez d'autres styles spécifiques à chaque produit si nécessaire */
}

/* Empêcher le dernier élément d'avoir une marge droite */
.grid-item:last-child {
  margin-right: 0;
}