<app-header></app-header>
<section   class="banner banner-intro p-relative" style="padding-bottom: 200px; margin-bottom: -200px;">

  <div class="intro-deco p-absolute w-100 h-100-vh bg-dark molla-lazyload-back"
    data-oi="assets/images/intro-demos/intro-deco.jpg" style="background-color: #222; max-height: 960px;">
  </div>
  <div class="container p-relative h-100-vh" style="max-height: 960px;">
    <div class="intro-device intro-device-1 p-absolute">

      <ul class="scene" data-toggle="floating"
        style="position: relative; transform: translate3d(0px, 0px, 0px); transform-style: preserve-3d; backface-visibility: hidden;">
        <li class="layer" data-depth="0.2"
          style="position: relative; display: block; left: 0px; top: 0px; transform: translate3d(7.49344px, -13.8813px, 0px); transform-style: preserve-3d; backface-visibility: hidden;">
          <div class="demo-img appear-animate molla-lazyload-back fadeIn animated"
            data-oi="assets/images/intro-demos/intro.png" data-appear-options="{
                      &quot;name&quot;: &quot;fadeIn&quot;,
                      &quot;delay&quot;: 800
                    }"
            style="width: 576px; height: 846px; background-position: -96px -220px; animation-duration: 1000ms; animation-delay: 800ms;">
          </div>
        </li>
      </ul>
    </div>
    <div class="intro-device intro-device-2 p-absolute">
      <ul class="scene" data-toggle="floating"
        style="position: relative; transform: translate3d(0px, 0px, 0px); transform-style: preserve-3d; backface-visibility: hidden;">
        <li class="layer" data-depth="0.2"
          style="position: relative; display: block; left: 0px; top: 0px; transform: translate3d(7.59752px, -3.64261px, 0px); transform-style: preserve-3d; backface-visibility: hidden;">

          <div class="demo-img appear-animate molla-lazyload-back fadeIn animated"
            data-oi="assets/images/intro-demos/intro.png" data-appear-options="{
                    &quot;name&quot;: &quot;fadeIn&quot;,
                    &quot;delay&quot;: 200
                  }"
            style="width: 584px; height: 222px; background-position: -685px -696px; animation-duration: 1000ms; animation-delay: 200ms;">
          </div>
        </li>
      </ul>
    </div>
    <div class="intro-device intro-device-3 p-absolute z-index-1">
      <ul class="scene" data-toggle="floating"
        style="position: relative; transform: translate3d(0px, 0px, 0px); transform-style: preserve-3d; backface-visibility: hidden;">
        <li class="layer" data-depth="0.15"
          style="position: relative; display: block; left: 0px; top: 0px; transform: translate3d(5.10296px, -4.94706px, 0px); transform-style: preserve-3d; backface-visibility: hidden;">
          <div class="demo-img appear-animate molla-lazyload-back fadeIn animated"
            data-oi="assets/images/intro-demos/intro.png" data-appear-options="{
                  &quot;name&quot;: &quot;fadeIn&quot;,
                  &quot;delay&quot;: 350
                }"
            style="width: 523px; height: 402px; background-position: -1278px -248px; transform: scale(1.01); animation-duration: 1000ms; animation-delay: 350ms;">
          </div>

        </li>
      </ul>
    </div>
    <div class="intro-device intro-device-4 p-absolute z-index-1">
      <ul class="scene" data-toggle="floating"
        style="position: relative; transform: translate3d(0px, 0px, 0px); transform-style: preserve-3d; backface-visibility: hidden;">
        <li class="layer" data-depth="0.2"
          style="position: relative; display: block; left: 0px; top: 0px; transform: translate3d(9.3668px, -7.38367px, 0px); transform-style: preserve-3d; backface-visibility: hidden;">
          <div class="demo-img appear-animate molla-lazyload-back fadeIn animated"
            data-oi="assets/images/intro-demos/intro.png" data-appear-options="{
                &quot;name&quot;: &quot;fadeIn&quot;,
                &quot;delay&quot;: 500
              }"
            style="width: 720px; height: 450px; background-position: -1240px -732px; transform: scale(1.01); animation-duration: 1000ms; animation-delay: 500ms;">
          </div>
        </li>
      </ul>
    </div>
    <div class="intro-device intro-device-5 p-absolute">
      <ul class="scene" data-toggle="floating"
        style="position: relative; transform: translate3d(0px, 0px, 0px); transform-style: preserve-3d; backface-visibility: hidden;">
        <li class="layer" data-depth="0.1"
          style="position: relative; display: block; left: 0px; top: 0px; transform: translate3d(5.41843px, -4.57788px, 0px); transform-style: preserve-3d; backface-visibility: hidden;">
          <div class="demo-img appear-animate molla-lazyload-back fadeIn animated"
            data-oi="assets/images/intro-demos/intro.png" data-appear-options="{
                    &quot;name&quot;: &quot;fadeIn&quot;,
                    &quot;delay&quot;: 950
                  }"
            style="width: 833px; height: 558px; background-position: -1770px -218px; animation-duration: 1000ms; animation-delay: 950ms;">
          </div>
        </li>
      </ul>
    </div>
    <div class="intro-device intro-device-6 p-absolute z-index-1">
      <ul class="scene" data-toggle="floating"
        style="position: relative; transform: translate3d(0px, 0px, 0px); transform-style: preserve-3d; backface-visibility: hidden;">
        <li class="layer" data-depth="0.2"
          style="position: relative; display: block; left: 0px; top: 0px; transform: translate3d(5.07368px, -5.89053px, 0px); transform-style: preserve-3d; backface-visibility: hidden;">
          <div class="demo-img appear-animate molla-lazyload-back fadeIn animated"
            data-oi="assets/images/intro-demos/intro.png" data-appear-options="{
                    &quot;name&quot;: &quot;fadeIn&quot;,
                    &quot;delay&quot;: 650
                  }"
            style="width: 390px; height: 359px; background-position: -1938px -715px; animation-duration: 1000ms; animation-delay: 650ms;">
          </div>
        </li>
      </ul>
    </div>
    <div
      class="intro-content p-absolute d-flex-center justify-content-center flex-column text-center z-index-1 appear-animate fadeInUpShort animated"
      data-appear-options="{
                            &quot;name&quot;: &quot;fadeInUpShort&quot;,
                            &quot;delay&quot;: 1400
                            }" style="animation-duration: 1000ms; animation-delay: 1400ms;">

      <h1 class="intro-title text-white mt-2 mb-1 ml-auto mr-auto">With an outstanding style,Exclusively designed for
        you</h1>
      <p class="intro-description text-light mb-7 ml-auto mr-auto">
        <br>Your search for the best solution is over, get your own copy and join thousands of happy
        customers.
      </p>
      <a href="#sectionDemos" class="btn btn-primary btn-icon   text-uppercase scroll-to">
        <a routerLink="/client/registre">Sign-Up Now</a>
        <i class="icon-box-wrapper"></i>
      </a>
    </div>
  </div>
</section>


<section class="bg-gray text-center demos-section pb-8 mt-10">
  <div class="container-fluid">
    <h2 class="section-title text-dark mt-10 mb-0">34+ Pre-Built Demos</h2>
    <p class="section-description mb-8 mb-md-5">Comes with 34 homepages available with multi style that
      better for your choice.
    <div class="demos text-uppercase" id="sectionDemos">
      <ul class="nav-filter demo-filter scale-eff bottom-scale-eff mb-8">
        <li class="nav-item active">
          <a href="#" data-filter=".home-page">Home Pages</a>
        </li>
        <li class="nav-item">
          <a routerLink="/client/addtender"> add tender </a>
        </li>
        <li class="nav-item">
          <a href="#" data-filter=".product-page">Product Pages</a>
        </li>
        <li class="nav-item">
          <a href="#" data-filter=".other-page">Other Pages</a>
        </li>
        <li class="nav-item">
          <a href="#" data-filter=".blog-page">Blog Pages</a>
        </li>
      </ul>
      
      <div class="bg-white">
        <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
          <h2 class="sr-only">Products</h2>
          <div class="grid row c-lg-4 c-md-3 c-sm-2 loaded" data-toggle="isotope"
        style="position: relative; height: 3093.3px; transition: height 0.5s ease 0s;">
        <div class="grid-item home-page" *ngFor="let product of products">
          <a target="_blank"
            class="demo-item scale-eff bottom-scale-eff appear-animate fadeInUpShort animated"
            data-appear-options="{ &quot;name&quot;: &quot;fadeInUpShort&quot;, &quot;delay&quot;: 600 }"
            style="animation-duration: 1000ms; animation-delay: 600ms;">
            <div class="product-container" [routerLink]="['/client/showPr', product.id]">
              <img src="http://localhost:9090/imageProduct/{{ product.image }}" alt="demo preview" class="square-image">
              <div class="product-name">{{ product.name }}</div>
              <div class="product-price">{{ product.price }}$</div>
            </div>
          </a>
        </div>
        
       
        

      </div>
      
          
        </div>
      </div>

    </div>
  </div>
</section>



<section class="document-section pt-10 text-center bg-tertiary" id="sectionSupport">
  <h2 class="section-title text-white mt-6 mb-2 pl-2 pr-2">Documentation</h2>
  <p class="section-description mt-0 mb-6 ml-auto mr-auto col-xl-7 col-lg-9 pl-6 pr-6">We don't like to
    support customers (joke:), that is why we created detailed documentation for everybody to avoid
    delays
    in communication and providing help to our customers.</p>
  <div class="container p-relative overflow-hidden" style="padding-top: 10rem;">
    <div class="row justify-content-center pb-3 mb-10 p-relative z-index-1">
      <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-5 col-8 d-flex justify-content-center">
        <a class="btn btn-primary btn-icon btn-hover-shadow position-absolute btn-icon-lg text-uppercase w-100 mb-sm-0 mb-4"
          href="doc/index.html" target="_blank" style="top: -8rem; position: absolute;">
          <i class="far fa-file-alt"></i>
          <span>Documentation</span>
        </a>
      </div>
    </div>
    <img src="assets/images/lazy.png" data-oi="assets/images/documentation_overlay.png" width="1242" height="742"
      alt="overlay" class="overlay p-absolute w-100 molla-lazyload" style="padding-top: 59.742%;">
    <div class="animated-ellipses appear-animate" data-appear-options="{
                &quot;name&quot;: &quot;fadeIn&quot;,
                &quot;delay&quot;: 800
              }">
      <div class="ellipse w-100 h-100">
        <svg width="940" height="622" viewBox="0 0 940 622" version="1.1"
          xmlns:xlink="../../../www.w3.org/1999/xlink.html">
          <path d="M10 311 C 0 -90.33 930 -90.33 930 311 C 930 713.33 10 713.33 10 311" stroke="white" stroke-width="1"
            fill="none" id="motionPath1"></path>
          <circle r="5" stroke="white" stroke-width="1" fill="#333947">
            <animateMotion dur="8s" begin="0.5s" repeatCount="indefinite">
              <mpath xlink:href="#motionPath1"></mpath>
            </animateMotion>
          </circle>
          <circle r="5" stroke="white" stroke-width="1" fill="#333947">
            <animateMotion dur="8s" begin="4.5s" repeatCount="indefinite">
              <mpath xlink:href="#motionPath1"></mpath>
            </animateMotion>
          </circle>
        </svg>
      </div>
      <div class="ellipse w-100 h-100">
        <svg width="940" height="622" viewBox="0 0 940 622" version="1.1"
          xmlns:xlink="../../../www.w3.org/1999/xlink.html">
          <path d="M10 311 C 0 -90.33 930 -90.33 930 311 C 930 713.33 10 713.33 10 311" stroke="white" stroke-width="1"
            fill="none" id="motionPath2"></path>
          <circle r="5" stroke="white" stroke-width="1" fill="#333947">
            <animateMotion dur="8s" begin="1.5s" repeatCount="indefinite">
              <mpath xlink:href="#motionPath2"></mpath>
            </animateMotion>
          </circle>
          <circle r="5" stroke="white" stroke-width="1" fill="#333947">
            <animateMotion dur="8s" begin="5.5s" repeatCount="indefinite">
              <mpath xlink:href="#motionPath1"></mpath>
            </animateMotion>
          </circle>
        </svg>
      </div>
      <div class="ellipse w-100 h-100">
        <svg width="940" height="622" viewBox="0 0 940 622" version="1.1"
          xmlns:xlink="../../../www.w3.org/1999/xlink.html">
          <path d="M10 311 C 0 -90.33 930 -90.33 930 311 C 930 713.33 10 713.33 10 311" stroke="white" stroke-width="1"
            fill="none" id="motionPath3"></path>
          <circle r="5" stroke="white" stroke-width="1" fill="#333947">
            <animateMotion dur="8s" begin="2.5s" repeatCount="indefinite">
              <mpath xlink:href="#motionPath3"></mpath>
            </animateMotion>
          </circle>
          <circle r="5" stroke="white" stroke-width="1" fill="#333947">
            <animateMotion dur="8s" begin="6.5s" repeatCount="indefinite">
              <mpath xlink:href="#motionPath1"></mpath>
            </animateMotion>
          </circle>
        </svg>
      </div>
      <div class="ellipse w-100 h-100">
        <svg width="940" height="622" viewBox="0 0 940 622" version="1.1"
          xmlns:xlink="../../../www.w3.org/1999/xlink.html">
          <path d="M10 311 C 0 -90.33 930 -90.33 930 311 C 930 713.33 10 713.33 10 311" stroke="white" stroke-width="1"
            fill="none" id="motionPath4"></path>
          <circle r="5" stroke="white" stroke-width="1" fill="#333947">
            <animateMotion dur="8s" repeatCount="indefinite">
              <mpath xlink:href="#motionPath4"></mpath>
            </animateMotion>
          </circle>
          <circle r="5" stroke="white" stroke-width="1" fill="#333947">
            <animateMotion dur="8s" begin="1.5s" repeatCount="indefinite">
              <mpath xlink:href="#motionPath1"></mpath>
            </animateMotion>
          </circle>
        </svg>
      </div>
    </div>
    <div class="ml-auto mr-auto" style="max-width: 690px;">
      <img src="assets/images/lazy.png" data-oi="assets/images/doc.png" width="690" height="390" alt="documentation"
        class="document-img appear-animate molla-lazyload" data-appear-options="{
                  &quot;name&quot;: &quot;fadeInUp&quot;,
                  &quot;delay&quot;: 200
                }" style="padding-top: 56.522%;">
    </div>
  </div>
</section>
<section class="support-section text-center" style="background-color: #dfe6ed;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <figure class="avatar p-relative mb-4 pt-10 molla-lazyload-back" data-oi="assets/images/float-overlay.jpg">
          <ul class="scene mt-10" data-toggle="floating"
            style="position: relative; transform: translate3d(0px, 0px, 0px); transform-style: preserve-3d; backface-visibility: hidden;">
            <li class="layer" data-depth="-0.1"
              style="position: relative; display: block; left: 0px; top: 0px; transform: translate3d(-7.5454px, 1.80849px, 0px); transform-style: preserve-3d; backface-visibility: hidden;">
              <div class="ml-auto mr-auto appear-animate" data-appear-options="{
                          &quot;name&quot;: &quot;fadeIn&quot;,
                          &quot;delay&quot;: 400,
                          &quot;duration&quot;: 400
                        }" style="max-width: 160px;">
                <img src="assets/images/lazy.png" data-oi="assets/images/supporter.png" width="160" height="212"
                  alt="supporter" class="molla-lazyload" style="padding-top: 132.5%;">
              </div>
            </li>
          </ul>
        </figure>
      </div>
    </div>
    <h4 class="section-subtitle text-dark mt-0 mb-2 mb-md-0 ls-25">Best customer support service</h4>
    <h2 class="section-title text-dark mt-0 mb-4 mb-md-2">Real Support From Real People</h2>
    <p class="section-description font-weight-normal mt-2 mb-7">We have
      <strong class="text-dark">60,000+</strong> happy customer, best ecommerce experience with Molla
    </p>
    <a class="btn btn-primary btn-icon btn-icon-lg btn-hover-shadow text-uppercase btn-ask ls-1" href="doc/index.html"
      target="_blank">
      <i class="far fa-comment"></i>
      <span>Ask A Question</span>
    </a>
  </div>
</section>
<section class="text-center buy-section pt-10 pb-10 appear-animate" data-appear-options="{
            &quot;name&quot;: &quot;fadeIn&quot;,
            &quot;delay&quot;: 200
          }">
  <h2 class="section-title mt-2 mb-2 pl-4 pr-4 text-dark">Molla Is Ready To Use. Get It Now!</h2>
  <p class="section-description mt-0 mb-5">DON'T FORGET TO APPRECIATE OUR WORK. RATE US NOW!</p>
  <div class="star-rating fa-icon text-primary mb-4" aria-label="Rated 5 out of 5">
    <span style="width: 100%;"></span>
  </div>
  <a class="btn btn-primary btn-icon text-uppercase btn-buy mb-10 " href="https://d-themes.com/buynow/mollaangular/"
    target="_blank">
    <i class="fas fa-shopping-cart"></i>
    <span>Buy Molla</span>
  </a>
</section>
<app-footer></app-footer>