<app-header></app-header>

<body>
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-7">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header">
                                    <h3 class="text-center font-weight-light my-4">Tender</h3>
                                </div>
                                <div class="card-body">
                                    <form #f="ngForm">
                                        <div class="text-center">
                                            <img class="card-img-top" src="http://localhost:9090/images/{{tend.description}}.png" alt="Tender Image">
                                        </div>

                                        <div class="mt-4">
                                            <div class="form-group">
                                                <label for="name">Name:</label>
                                                <span class="font-weight-bold">{{ tend.name }}</span>
                                            </div>

                                            <div class="form-group">
                                                <label for="description">Description:</label>
                                                <span class="font-weight-bold">{{ tend.description }}</span>
                                            </div>

                                            <div class="form-group">
                                                <label for="quantity">Quantity:</label>
                                                <span class="font-weight-bold">{{ tend.quantity }}</span>
                                            </div>

                                            <div class="form-group">
                                                <label for="brand">Brand:</label>
                                                <span class="font-weight-bold">{{ tend.brand }}</span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="dateTender">Date Tender:</label>
                                            <span class="font-weight-bold">{{ tend.dateTender }}</span>
                                        </div>

                                        <ul class="tender-comments">
                                            <li *ngFor="let comment of tend.comments">
                                                <p class="comment-message">{{ comment.message }}</p>
                                                <button class="btn btn-sm btn-danger" (click)="delete(comment.id)">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </li>
                                        </ul>

                                        <div class="form-group">
                                            <label for="comment">Add a Comment</label>
                                            <input
                                                type="text"
                                                class="form-control"
                                                name="comment.message"
                                                #name="ngModel"
                                                [(ngModel)]="comment.message"
                                            />
                                            <button type="submit" class="btn btn-primary mt-2" (click)="onSubmit()">Add</button>
                                        </div>

                                        <button type="submit" class="btn btn-danger" (click)="deletetender(tend.id)" [routerLink]="['/gettender']">
                                            Delete Tender
                                        </button>

                                        <a class="btn btn-primary" [routerLink]="['/client/updatetender', tend.id]">Update Tender</a>

                                        <ul class="tender-products">
                                            <li *ngFor="let product of tend.products">
                                                <div class="card mb-4">
                                                    <img
                                                        class="card-img-top small-image"
                                                        src="http://localhost:9090/imageProduct/{{ product.image }}"
                                                        alt="Product Image"
                                                    />
                                                    <div class="card-body">
                                                        <h5 class="card-title">Name: {{ product.name }}</h5>
                                                        <p class="card-text">Description: {{ product.description }}</p>
                                                        <p class="card-text">Stock: {{ product.qte }}</p>
                                                        <p class="card-text">Price: {{ product.price }}</p>
                                                       

                                                        <button class="btn btn-primary" [routerLink]="['/client/showPr', product.id]">
                                                            Accept
                                                        </button>

                                                        <div class="form-group mt-2">
                                                            <label for="score">Score:</label>
                                                            <div class="rating">
                                                                <span class="star" (click)="setScore(1); addScore(operatorScore, 6, product.id)" [class.selected]="operatorScore.score >= 1"><i class="fa fa-star"></i></span>
                                                                <span class="star" (click)="setScore(2); addScore(operatorScore, 6, product.id)" [class.selected]="operatorScore.score >= 2"><i class="fa fa-star"></i></span>
                                                                <span class="star" (click)="setScore(3); addScore(operatorScore, 6, product.id)" [class.selected]="operatorScore.score >= 3"><i class="fa fa-star"></i></span>
                                                                <span class="star" (click)="setScore(4); addScore(operatorScore, 6, product.id)" [class.selected]="operatorScore.score >= 4"><i class="fa fa-star"></i></span>
                                                                <span class="star" (click)="setScore(5); addScore(operatorScore, 6, product.id)" [class.selected]="operatorScore.score >= 5"><i class="fa fa-star"></i></span>
                                                            </div>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </form>
                                </div>
                                <div class="card-footer text-center py-3">
                                    <!-- Footer content here -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>

        <app-footer></app-footer>
    </div>
</body>
