<app-header></app-header>
<body  style="background-color: #eee; padding-top: 10%; padding-bottom: 10%;">

    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
  
                  <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>
  
                  
  <form
  *ngIf="!isSuccessful"
  name="form"
  (ngSubmit)="f.form.valid && onSubmit()"
  #f="ngForm"
  novalidate
>

<div class="form-group">
  <label for="nom">nom</label>
  <input
    type="text"
    class="form-control"
    name="nom"
    [(ngModel)]="form.nom"
    required
    minlength="3"
    maxlength="20"
    #nom="ngModel"
    [ngClass]="{ 'is-invalid': f.submitted && nom.errors }"
  />
  <div class="invalid-feedback" *ngIf="nom.errors && f.submitted">
    <div *ngIf="nom.errors['required']">Username is required</div>
    <div *ngIf="nom.errors['minlength']">
      Username must be at least 3 characters
    </div>
    <div *ngIf="nom.errors['maxlength']">
      Username must be at most 20 characters
    </div>
  </div>
</div>

<div class="form-group">
  <label for="prenom">prenom</label>
  <input
    type="text"
    class="form-control"
    name="prenom"
    [(ngModel)]="form.prenom"
    required
    minlength="3"
    maxlength="20"
    #prenom="ngModel"
    [ngClass]="{ 'is-invalid': f.submitted && prenom.errors }"
  />
  <div class="invalid-feedback" *ngIf="prenom.errors && f.submitted">
    <div *ngIf="prenom.errors['required']">Username is required</div>
    <div *ngIf="prenom.errors['minlength']">
      Username must be at least 3 characters
    </div>
    <div *ngIf="prenom.errors['maxlength']">
      Username must be at most 20 characters
    </div>
  </div>
</div>


  <div class="form-group">
    <label for="username">Username</label>
    <input
      type="text"
      class="form-control"
      name="username"
      [(ngModel)]="form.username"
      required
      minlength="3"
      maxlength="20"
      #username="ngModel"
      [ngClass]="{ 'is-invalid': f.submitted && username.errors }"
    />
    <div class="invalid-feedback" *ngIf="username.errors && f.submitted">
      <div *ngIf="username.errors['required']">Username is required</div>
      <div *ngIf="username.errors['minlength']">
        Username must be at least 3 characters
      </div>
      <div *ngIf="username.errors['maxlength']">
        Username must be at most 20 characters
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="password"
      class="form-control"
      name="password"
      [(ngModel)]="form.password"
      required
      minlength="6"
      #password="ngModel"
      [ngClass]="{ 'is-invalid': f.submitted && password.errors }"
    />
    <div class="invalid-feedback" *ngIf="password.errors && f.submitted">
      <div *ngIf="password.errors['required']">Password is required</div>
      <div *ngIf="password.errors['minlength']">
        Password must be at least 6 characters
      </div>
    </div>
  </div>   

  <div class="form-group">
    <label for="email">Email</label>
    <input
      type="email"
      class="form-control"
      name="email"
      [(ngModel)]="form.email"
      required
      email
      #email="ngModel"
      [ngClass]="{ 'is-invalid': f.submitted && email.errors }"
    />
    
    <div class="invalid-feedback" *ngIf="email.errors && f.submitted">
      <div *ngIf="email.errors['required']">Email is required</div>
      <div *ngIf="email.errors['email']">
        Email must be a valid email address
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="address"> Local Adress </label>
    <input
      type="text"
      class="form-control"
      name="address"
      [(ngModel)]="form.address"
      required
      minlength="6"
      #address="ngModel"
    />
    <div class="invalid-feedback" *ngIf="address.errors && f.submitted">
      <div *ngIf="address.errors['required']">Password is required</div>
      <div *ngIf="address.errors['minlength']">
        adress is invalid
      </div>
    </div>
  </div>  
 
    <!-- Autres champs de formulaire -->
    <div class="form-group">
      <label for="role">Role:</label>
   
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="ROLE_SUPPLIER" name="role" (change)="onRoleChange($event)">
        <label class="form-check-label">Supplier</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="ROLE_CUSTOMER" name="role" (change)="onRoleChange($event)">
        <label class="form-check-label">Customer</label>
      </div>
    </div>

  <div class="form-group">
    <label for="dateNaissance">DateNaissance</label>
    <input
      type="date"
      class="form-control"
      name="dateNaissance"
      [(ngModel)]="form.dateNaissance"
      required
      #dateNaissance="ngModel"
      [ngClass]="{ 'is-invalid': f.submitted && dateNaissance.errors }"
    />
  </div>   
  
 <div class="form-group">
<label for="image">Profile Picture:</label>
<input type="file" class="form-control" name="image" (change)="onFileSelected($event)">
</div>
  <div class="form-group">
    <button class="btn btn-primary btn-block" onclick="">Sign Up</button>
  </div>

  <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
    Signup failed!<br />{{ errorMessage }}
  </div>
</form>
               
  
                </div>
                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
  
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                    class="img-fluid" alt="Sample image">
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </body>
  <app-footer></app-footer>
