<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <app-header></app-header>
        <main>
            <li class="nav-item px-2"><a class="nav-link fw-medium" routerLink="/client/updateuser"> update</a></li>

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header"><h3 class="text-center font-weight-light my-4">{{ user.username }}</h3></div>
                            <div class="card-body">
  <table class="table table-bordered">
      <tr>
        <th>Nom</th>
        <td>{{ user.nom }}</td>
      </tr>
      <tr>
        <th>Prénom</th>
        <td>{{ user.prenom }}</td>
      </tr>
      <tr>
        <th>Username</th>
        <td>{{ user.username }}</td>
      </tr>
      <tr>
        <th>Adresse</th>
        <td>{{ user.address }}</td>
      </tr>
      <tr>
        <th>Email</th>
        <td>{{ user.email }}</td>
      </tr>
      <tr>
        <th>Date de naissance</th>
        <td>{{ user.dateNaissance }}</td>
      </tr>
    </table>
  </div>
  </div>
  </div>
  </div>
  </div>
  </main>
  </div>
  <app-footer></app-footer>
  </div>
  
  
  
  
  
  