<app-header></app-header>
<body>
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container" style="margin: 11em;">
                    <div class="row justify-content-center">
                        <div class="col-lg-7">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">tender</h3></div>
                                <div class="card-body">
                                    <form
    
                        #f="ngForm"
                
                      >

                      <div>

                      <div class="form-group" >
                        <label for="name" >name</label>
                        <input
                          type="text"
                          class="form-control"
                          name="tender.name"
                          #name="ngModel" [(ngModel)]="tender.name" 
                         
                        />
                       
                      </div>
                    
                    </div>
                      <div class="form-group">
                        <label for="description">description</label>
                        <input
                          type="text"
                          class="form-control"
                          name="tender.description"
                          #description="ngModel" [(ngModel)]="tender.description" 
                        />
                       
                      </div>
                  
                  <div>
                        <div class="form-group">
                          <label for="quantity">quantity</label>
                          <input
                            type="text"
                            class="form-control"
                            name="tender.quantity"
                            #quantity="ngModel" [(ngModel)]="tender.quantity" 
                           
                          />
                        
                        </div>
                    </div>
                        <div>
                        <div class="form-group">
                            <label for="image">Image</label></div>
                            <input type="file" class="form-control-file" name="tender.image"  #image="ngModel" [(ngModel)]="tender.image"  (change)="onImageSelected($event); onPredict()">
                            
                          </div>
                          
                            
                  
                        <div class="form-group">
                          <label for="brand">brand</label>
                          <input
                          type="text"
                          class="form-control"
                          name="tender.brand"
                          #brand="ngModel"
                          [(ngModel)]="tender.brand"
                          [value]="predictionResponse" 
                        />
                         
                        </div>
                       
                        <div class="form-group">
                          <label for="dateTender">dateTender</label>
                          <input
                            type="date"
                            class="form-control"
                            name="tender.dateTender"
                            #dateTender="ngModel" [(ngModel)]="tender.dateTender" 
                            
                          />
                        </div>   
                        
                       <!-- --> 
              
                   <!-- --> 
                        <div class="form-group">
                          <button class="btn btn-primary btn-block" type="submit"(click)="onSubmit()">addTender</button>
                        </div>
                        
                        
                        <li class="nav-item">
                          <a href="https://thzpsbg9v1-496ff2e9c6d22116-7860-colab.googleusercontent.com/" data-filter=".shop-page">cherche produit</a>
                        </li>
                  
                
                      </form>
                                </div>
                                <div class="card-footer text-center py-3">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        
        <app-footer></app-footer>
    </div>
</body>