
 

  
  <meta charset="utf-8">
  <title>Molla - Best Premium HTML Template</title>
  
  
  
  <link rel="stylesheet" href="/assets/style.min.css">
  <script>
    if ( top !== window ) {
      top.location.href = window.location.href;
    }
    if ( window.location.hash ) {
      window.location.href = window.location.href.replace( window.location.hash, '' );
    }
  </script>


  <body class="loaded">
  <div class="page-wrapper">
    <header class="header fixed-header">
      <div class="sticky-wrapper" style="height: 106.175px;">
        <div class="header-main sticky-header fixed" style="top: 0px; z-index: 1040;">
          <div class="container-fluid inner-wrap">
            <div class="header-col header-left">
              <button class="btn btn-link mobile-menu-toggler">
                <i class="icon-bars"></i>
              </button>
              <a class="logo" style="display: flex; flex-direction: row;">
                <img class="d-inline-block reverted-image"  src="assets/img/logo.png" style="filter: invert(100%);"  alt="logo" />
              </a>
              <h1 style="filter: invert(100%);; flex-direction:row; justify-content: space-between;align-items: center;" ><h1 style="margin-left: 0%;">Tender-Shop</h1></h1>
            </div>
            <div class="header-col header-center">
              <ul id="main-menu" class="menu scale-eff bottom-scale-eff">
                <li class="nav-item px-2"><a class="scroll-to" routerLink="/showPr">Home</a></li>
                <li class="nav-item px-2"><a class="scroll-to" routerLink="/client/addtender" hidden="true">Add Tender</a></li>
                <li class="nav-item px-2"><a class="scroll-to" routerLink="/client/gettender">Tenders</a></li>
                <li class="nav-item px-2"><a class="scroll-to" routerLink="/client/profile">Profile</a></li>
                <li class="nav-item px-2"><a class="scroll-to" routerLink="/client/Contact">Contact</a></li>
                <li class="nav-item px-2"><a class="scroll-to" routerLink="/client/Services">Services</a></li>

                <li class="nav-item px-2"><a class="scroll-to" ></a></li>

                   <!-- Login/Logout button -->
                   <button class="btn" *ngIf="isLoggedIn; else loginButton" (click)="logout()">Logout</button>
                   <ng-template #loginButton>
                     <button class="btn" (click)="Login()">Login</button>
                   </ng-template>
              </ul>
              <form class="black-background">
                <a href="#!">
                  <svg class="feather feather-shopping-cart" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <!-- Les éléments SVG ici -->
                  </svg>
                </a>
       
                <i class="feather feather-shopping-cart mr-4" style="color: rgb(207, 207, 207);" routerLink="/client/add-to-card">
                  <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <circle cx="9" cy="21" r="1"></circle>
                    <circle cx="20" cy="21" r="1"></circle>
                    <path d="M21 15s-2-3.9-2-6a4 4 0 0 0-8 0"></path>
                    <polyline points="21 15 9 15 7.2 2 23.1 2 21 15"></polyline>
                  </svg>
                </i>
                <!-- Autres liens et logos -->
              </form>
              
            </div>
            <div class="header-col header-right">
              <div class="profile-card">
                <!-- Profile image -->
                <img *ngIf="profilePictureUrl; else defaultProfilePicture" src={{profilePictureUrl}} alt="Profile Picture" />
                <ng-template #defaultProfilePicture>
                  <!-- Show a default image if no profile picture URL is available -->
                  <img *ngIf="!profilePictureUrl" src="assets/img/author-1.png" alt="Default Profile Picture" />
                </ng-template>
    
             
    
                <!-- Profile name -->
                <div style=" 
                 color: #ffffff; 
                font-size: 16px; 
                margin-top: 2%; 
                margin-left: 1%;"><p>{{ username }}</p></div>
              </div>
            </div>
            <form action=""></form>
          </div>
        </div>
      </div>
    </header>
  </div>

  </body><!-- Mirrored from d-themes.com/angular/molla/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 17 Jul 2023 01:42:21 GMT -->
