
.login-section {
    border-radius: 20px;
    border: 1px solid #ccc;
    overflow: hidden;
    background-color: #f8f9fa;
  }
  
  .login-image-container {
    padding: 2px;
    margin: 30px;
    border-radius: 20px 20px 20px 20px;
    overflow: hidden;
  }