<app-header></app-header>
<body>
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content" className="justify-content-center" style="margin: 20rem;">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
              


<div class="card text-center" style="width:60%;">
  <div class="card-header h5 text-white bg-primary" style="width: 100%;">Password Reset</div>
  <div class="card-body px-5">
      <p class="card-text py-2">
          Enter your email address and we'll send you an email with instructions to reset your password.
      </p>
      <div class="form-outline">
        <div class="form-group">
          <input type="email" id="typeEmail" class="form-control my-3"
          class="form-control"
          name="email"
          style="margin: 3%;"
          [(ngModel)]="email"
          required
          minlength="6"
          #password="ngModel"
          />
          <label class="form-label" for="typeEmail">Email input</label>
      </div>
      <button  class="btn btn-primary w-100"  (click)="submit()">Reset password</button>
      <div class="d-flex justify-content-between mt-4">
          <a class="" href="/client/login">Login</a>
          <a class="" href="/client/registre">Register</a>
      </div>
      </div>
  </div>
</div>
        </div>
    </div>
            </main>

          </div>
          <app-footer></app-footer>

        </div>
        